{
    "presets": [
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/proposal-object-rest-spread",
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "typ": "./types"
            }
        }]
    ]
}
